   body {
    background-color: coral;
  background-image: url("images/bgpic.jpg");
}
   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
  
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
    }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
      display: none; 
    }
  }
  
	.navbar-default {
		background-color: #bec3c6;
		border-color: #bec3c6;
	}

	.navbar-nav li a:hover {
		color: #d29000 !important;
	}

  /*footer*/
    /* Add a maroon background color and some padding to the footer */
  footer {
    background-color: #ffa20c;
    padding: 20px;
    position: relative;
    bottom: -150px;
  }
  
	.fa-facebook {
  background: #3B5998;
  color: white;
  }
  .fa-instagram {
  background: #e2166b;
  color: white;
  }
	.fa {
  padding:10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
  .fa-instagram {
  background: #e2166b;
  color: white;
  }
  .fa-google {
  background: #dd4b39;
  color: white;
  }
  .fa-linkedin {
  background: #007bb5;
  color: white;
  }
  .fa-twitter {
  background: #55ACEE;
  color: white;
  }
  .fa-youtube {
  background: #bb0000;
  color: white;
}
  .center{margin:auto;}

/*info php */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  
}
/*login page*/
  .center{margin:auto;}
  .jeet{padding:50%;}
  div.ex3 {
    height: 300px;
    overflow: auto;
}

/*contact form*/
.contact-form:after {
  content:"";
  display:block;
  clear:both;
}

.contact-form .input {
  margin-bottom:20px;
}

.contact-form textarea.input {
  height:200px;
}

/*images for display from database*/

.imgdb{
  width: 250px;
  height: 250px;
  box-shadow: 0 0  100px rgb(0,0,0,0.5);
}
/*cart style*/
.cart{
  margin-top: 40px;
  background-color: white;
  border: solid 1px black;
}
.cart td div{
         display: table-cell;
        width: 120px;
        height: 100px;
        vertical-align: middle;
}
.cart .imgtable{
  width:180px;
}
.cart .imgtable img{
  padding: 0px;
  align-self: center;
  width: 100px;
  height: 100px;
}
.cart th{
  text-align: left;
}
.cart thead{
  background-color: black;
  color: white;
}
.cart td div .remove{
  color:#ff0909;
  font-size: 40px;
  font-weight: 2;
}
/*jeet style sheet*/
.jeetbtn{
  border: none;
  height: 500px;
}
/*checkout*/
.check{
  padding: 20px;
   margin-top: 50px;
  background-color: white;
  width: 900px;
  position: relative;
}
.check th{
  background-color: black;
  color: white;
  text-align: center;
}
.cc{
  font-size: 18px;
  margin-left: 320px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: green;
  width: 200px;
  height: 50px;
}
